.login-form {
  position: relative;
  width: 300px;
  margin-left: 20%;
  margin-top: 6%;
  padding: 7px;
  padding-bottom: 12px;
  font: inherit;
  border-radius: 7px;
  box-shadow: 0 1px 12px rgb(128, 128, 128);
}

.login-form-input {
  width: 90%;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 3px;
  margin-bottom: 20px;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  background: none;
  border-bottom: 1px solid white;
  outline: 0;
  padding: 5%;
}

.login-form-title {
  text-align: center;
  margin-bottom: 10%;
  color: white;
  font-family: "Poppins", sans-serif;
}

.login-form-button {
  text-align: center;
  background: none;
  color: white;
  width: 100%;
  border-radius: 5px;
  font-size: larger;
  padding: 6px 2px;
  padding-top: 6px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.login-form-text {
  text-align: center;
}

.signup-button {
  background: none;
  color: white;
  border: none;
  outline: none;
  text-decoration: underline;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.error {
  padding: 2px;
  color: red;
}
